nav{
    display :flex;
    margin-right:50px;
    align-items:center;
    justify-content:space-between ;
}

nav ul li{
    list-style:none;
    margin-right:50px;
    align-items: center;
}
.btn-primary{
    background-color:#4E47FF ;
    padding:13px 17px;
    border:none;
    color: white;
    border-radius: 10px;
    width:132;
    height:48;

}
.btn-primary:hover{
    background-color: rgb(255, 8, 8);
    color: black;
}
.img{
    background-image:url(/Assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}